<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

	<head data-th-replace="~{/layouts/header :: head}"></head>
	
	<body>
		<footer th:fragment="footer">
			<div class="container text-center text-light bg-dark">
			<div class="row justify-content-around">
				<div class="col-6">
					<h3>Información de Contacto</h3>
						<p>San Salvador de Jujuy</p>
						<p>Jujuy - Argentina</p>
						<p>Contaco FI UnJu: info@fi.unju.edu.ar</p>
						<p>Dirección: Ítalo Palanca Nº 10</p>
				</div>
				<div class="col-6">
					<h3>Redes Sociales</h3>
						<ul>
							<li><a href="https://www.instagram.com/fiunju/">Instagram</a></li>
							<li><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">Youtube</a></li>
							<li><a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">Linkedin</a></li>
							<li><a href="https://www.facebook.com/fiunju/">Facebook</a></li>
						</ul>
				</div>
			</div>
			<p><small>Copiright 2024 - Soza Leandro Ariel</small></p>
		</div>
		</footer>
	</body>
</html>